body {
  /* background-color: lightblue; */
}

/* .ui.menu.header-home {
  background-color: red;
  min-height: 70px;
} */

/* .ui.menu a.item.a-header {
  color: #d5c9c9;
  font-size: 1.2rem;
  font-weight: 600;
} */

#modal-btn-text {
  color: #d5c9c9;
  /*font-size: 1.2rem;
  font-weight: 600; */
  /* margin: auto; */
  /* padding: 15.6px 19.2px; */
}

#modal-btn-text:first-child:hover {
  color: #ffffff;
}

a.item.a-header.active:hover {
  /* border-bottom: solid white !important; */
  /* margin-bottom: 1px !important; */
  /* border: none;
  color: white !important; */
  /*color: white !important;-----*/
}

a.item.a-header.active {
  /* border-bottom: solid white !important; */
  /* margin-bottom: 1px !important; */
  /* border: none;*/
  /*color: white !important;-------*/
}

a.item.a-header {
  /* margin-bottom: 1px; */
}

.register-message {
  /* background-color: #ededed; */
  text-align: center;
  line-height: 50px;
  height: 50px;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}

#shoppingcart-header {
  margin-top: 50px;
  margin-bottom: 20px;
}

.ui.container.right.aligned.shoppingcart-subtotal {
  font-size: 20px;
  font-weight: bold;
}

button.ui.button.shoppingcart-button {
  margin-right: 5%;
}

div.ui.container.sign-up,
div.ui.container.feedback {
  width: 50% !important;
}

div.ui.container.feedbackmessage {
  margin-bottom: 5rem;
}

/* div.warn-message.signup-link {
  text-align: center !important;
} */

.ui.modal > .actions {
  text-align: left;
}
