body {
  /* background-color: lightblue; */
}

.ui.secondary.pointing.menu.header-home {
  background-color: red;
  min-height: 70px;
}

.ui.secondary.pointing.menu a.item.a-header {
  color: white !important;
  font-size: 1.3rem;
  font-weight: 600;
}

a.item.a-header:hover {
  border-bottom: solid white !important;
}

a.item.a-header.active.white {
  border-bottom: solid white !important;
}

.register-message {
  /* background-color: #ededed; */
  text-align: center;
  line-height: 50px;
  height: 50px;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}
