html,
body,
#root,
#root > div {
  height: 100%;
}

.document-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1 0 auto;
  margin-bottom: 30px;
}

.footer-container {
  /*margin-top: auto; if you use this property, 
  delete flex properties here and in .content-container*/
  flex-shrink: 0;
}
/* .ui.menu.header-home {
  background-color: red;
  min-height: 70px;
} */

/* .ui.menu a.item.a-header {
  color: #d5c9c9;
  font-size: 1.2rem;
  font-weight: 600;
} */

#modal-btn-text {
  display: inline-block;
  color: #d5c9c9;
  /*font-size: 1.2rem;
  font-weight: 600; */
  /* margin: auto; */
  /* padding: 15.6px 19.2px; */
}

#modal-btn-text:first-child:hover {
  color: #ffffff;
}

a.item.a-header.active:hover {
  /* border-bottom: solid white !important; */
  /* margin-bottom: 1px !important; */
  /* border: none;
  color: white !important; */
  /*color: white !important;-----*/
}

a.item.a-header.active {
  /* border-bottom: solid white !important; */
  /* margin-bottom: 1px !important; */
  /* border: none;*/
  /*color: white !important;-------*/
}

a.item.a-header {
  /* margin-bottom: 1px; */
}

.register-message {
  /* background-color: #ededed; */
  text-align: center;
  line-height: 50px;
  height: 50px;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}

#shoppingcart-header {
  margin-top: 50px;
  margin-bottom: 20px;
}

.ui.container.right.aligned.shoppingcart-subtotal {
  font-size: 20px;
  font-weight: bold;
}

div.ui.successorder-total {
  font-size: 18px;
  font-weight: bold;
  clear: both;
  text-align: right;
}

/* div.divider.divider-total {
  float: right;
} */

a.ui.button.shoppingcart-button {
  margin-right: 3rem;
}

div.ui.container.sign-up,
div.ui.container.feedback {
  width: 50% !important;
}

div.ui.container.feedbackmessage {
  margin-bottom: 5rem;
}

div.ui.container.feedbackProduct,
div.ui.container.divider.feedback {
  width: 50%;
}
/* div.warn-message.signup-link {
  text-align: center !important;
} */

div.three.wide.column.category-success {
  font-size: 18px;
  font-weight: bold;
}

div.thirteen.wide.column.value-success {
  font-size: 18px;
}

/* #name-category,
#payment-category {
  background-color: #bad3e9;
}

#name-value,
#payment-value {
  background-color: #dbdee1;
} */
.ui.modal > .actions {
  text-align: left;
}
div.ui.segment.order-message {
  background-color: #f8fff8;
  color: #014301;
  height: 125px;
}
p.order-header {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
p.order-subheader {
  font-size: 20px;
}

i.clipboard.check.icon.order {
  font-size: xx-large;
  float: right;
}

div.ui.inverted.segment.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
}

/* body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 0 auto;
  min-height: auto;
} */

@media screen and (max-width: 680px) {
  div.ui.container.sign-up {
    width: 95% !important;
  }
}
