.product-detail {
  margin: 0, auto;
}

.productdetail-img {
  margin: 0, auto;
}

.ui.grid > .centered.row {
  text-align: center !important;
}

.productdetail-img {
  justify-self: center !important;
}

.ui.button.teal {
  margin-right: 2rem;
}

.description.product {
  margin-bottom: 1rem;
}

.extra.ratings {
  margin-top: 1rem;
}

/*=========== div.extra.product-btn {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
} */
